[log]
log.dir=/work/tensor_completion/logs
resuts.dir.richian=/work/scratch/alternate_minimation/richian2
resuts.dir.gaussian=/work/scratch/alternate_minimation/gaussian2
resuts.dir.rayleigh=/work/scratch/alternate_minimation/rayleigh2
resuts.dir.nonoise=/work/scratch/motion
data.dir=/work/scratch/templates

[optmization]
lamda=0.2
epsilon=1e-8